.friend-display-link {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: rgba(0, 0, 0, 0.02);
  padding: 10px;
  text-align: center;
}
.friend-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  margin: 15px;
  margin-top: 10px;
}

.friends-screen__list {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.friends-screen__list-header {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 13px;
}

.friends-screen__list-header i {
  color: rgba(0, 0, 0, 0.2);
}
.screen-size {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

@media screen and (max-width: 600px) {
  .screen-size {
    display: none;
  }
}
#splash-screen {
  background-color: khaki;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  animation: splashScreen 2s ease-in-out forwards;
  animation-delay: 1s;
}
@keyframes splashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
