.screen-header {
  margin: 20px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.screen-header__title {
  font-size: 28px;
  font-weight: bolder;
}
.screen-header__icons {
  padding: 6px;
}
.screen-header__icon {
  font-size: 18px;
  margin-left: 20px;
}
